body{
    font-family: "Roboto Mono", monospace;
    background-color: #070d21;
    color: white;
    margin: 0;
    padding: 0;
}

.homePageContainer{
    height: 100vh;
}
.navbarContainer {
    display: flex;
    justify-content: space-between; /* knuffar translate till vänster, länkar till höger */
    align-items: center;
    margin-top: 25px;
    padding: 0 27px; /* padding både vänster och höger */
}

.navbarLinks {
    display: flex;
    gap: 17px;
}

.navbarItem {
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    color: white;
    text-decoration: none;
}

.navbarItem:hover {
    transform: scale(1.2);
    text-decoration: underline;
    cursor: pointer;
}

#translate {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.socialsContainer{
    position: absolute;
    top: 83%;
    text-align: left;
    
}

.socialsItem{
 color: white;
 font-size: xx-large;
 display: block;
 margin-left: 20px;
 margin-bottom: 10px;
 width: fit-content;
 transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.socialsItem:hover{
    transform: scale(1.3);
    cursor: pointer;
}



.welcomeContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcomeContainer p{
    padding: 0.4rem;
    margin: 0;
}

.myName{
    font-size: 50px;
}

.aboutMeContainer {
    min-height: 100vh; 
    padding-bottom: 5vh; 
    box-sizing: border-box;
}


.aboutMeContainer h1{
    padding-top: 5%;
    text-align: center;
}

.aboutMeContainer p {
    width: 60%;
    text-align: center;
    margin: auto;
}

.aboutMePictures{
    
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.aboutMePictures img{
    border: solid;
    border-radius: 5px;
    height: 72%;
    width: 18%;
}
 


.prevExpContainer{
    min-height: 100vh; 
    padding-bottom: 5vh; 
    box-sizing: border-box;
    
}

.prevExpContainer h1{
    padding-top: 5%;
    text-align: center;
}

.prevExpText{
    width: 60%;
    text-align: center;
    margin: auto;
}
.experienceContainer {
    display: flex;
    justify-content: center;
    gap: 2rem; 
    padding: 2rem;
    flex-wrap: wrap; 
    width: 80%;
    margin: 0 auto;
}

.education {
    flex: 1;
    min-width: 300px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    min-width: 300px;
}

.experience {
    background-color: rgb(79, 77, 198);
    border-radius: 10px;
    padding: 25px;
}



.contactContainer{
    min-height: 100vh; 
    padding-bottom: 5vh; 
    box-sizing: border-box;
    padding-top: 30px;
}

.contactContainer h1, .contactContainer p{
    text-align: center;
}


.contactInfoContainer{
    border-radius: 5%;
    background-color: rgb(30, 37, 138);
    width: 30%;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.contactIcon{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    margin-left: 2rem;
}