body{
    font-family: "Roboto Mono", monospace;
    background-color: #070d21;
    color: white;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}


.homePageContainer{
    height: 100vh;
}
.navbarContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 25px;
    padding: 0 27px; 
}

.navbarLinks {
    display: flex;
    gap: 20px;
}

.navbarItem {
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    color: white;
    text-decoration: none;
}

.navbarItem:hover {
    transform: scale(1.15);
    text-decoration: underline;
    cursor: pointer;
}

#translate {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: solid;
    border-width: 1px;
    padding: 0.2rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

#translate:hover{
    transform: scale(1.2);
    cursor: pointer;
}


.socialsContainer{
    position: absolute;
    top: 83%;
    text-align: left;
    
}

.socialsItem{
 color: white;
 font-size: xx-large;
 display: block;
 margin-left: 20px;
 margin-bottom: 10px;
 width: fit-content;
 transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.socialsItem:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.welcomeContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcomeContainer p{
    padding: 0.4rem;
    margin: 0;
}

.myName{
    font-size: 50px;
}



.aboutMeContainer {
    min-height: 100vh; 
    padding-bottom: 5vh; 
    box-sizing: border-box;
}


.aboutMeContainer h1{
    padding-top: 5%;
    text-align: center;
}

.aboutMeContainer p {
    display: inline;
    
}

.aboutMeTextContainer{
    width: 60%;
    text-align: center;
    margin: auto;
}

.aboutMePictures{
    
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.aboutMePictures img{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    height: 80%;
    width: 20%;
}
 


.prevExpContainer{
    min-height: 100vh; 
    padding-bottom: 5vh; 
    box-sizing: border-box;
    
}

.prevExpContainer h1{
    padding-top: 5%;
    text-align: center;
}

.prevExpText{
    width: 60%;
    text-align: center;
    margin: auto;
}
.experienceContainer {
    display: flex;
    justify-content: center;
    gap: 2rem; 
    padding: 2rem;
    flex-wrap: wrap; 
    width: 80%;
    margin: 0 auto;
}

.education {
    flex: 1;
    min-width: 300px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    min-width: 300px;
}

.experience {
    background-color: rgb(79, 77, 198);
    border-radius: 10px;
    padding: 15px 20px;
}

.experience h3{
    text-decoration: underline;
    font-size: x-large;
}
.experience li{
font-size: small;

}

.projectHeader{
    text-align: center;
}

.projTitle{
    text-decoration: underline;
}

.prevProjectsContainer{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 1rem;
 width: 90%;
 margin: 0 auto;
}

.project{
    background-color: #b4920a;
    border-radius: 10px;
    width: fit-content;
    max-width: 300px;
    min-width: 200px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.project a{
    display: inline-block;
    border: solid;
    border-width: 2px;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: auto; 
    align-self: center; 
}

.project a:hover, .showPicButton:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.showPicButton{
    display: inline-block;
    border: solid;
    border-width: 2px;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: 15px; 
    align-self: center; 
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6); 
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.projectInfoPopUp {
    background-color: white;
    width: 60vw;
    height: 70vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    overflow: hidden;
}

.popUpPictures {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    height: 80%;
    width: 80%;
}


.popUpPicture {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; 
    border: 1px solid black;
    border-radius: 4px;
}


#closePopUp{
    position: absolute;
    color: black;
    font-size: xx-large;
    top: 10px;
    right: 10px;
}

#closePopUp:hover, .arrow:hover{
    cursor: pointer;
}

.arrow{
    position: absolute;
    bottom: 20px;
    color: #070d21;
    font-size: 80px;
}

#arrowBack {
  left: 20%;
}

#arrowNext {
  right: 20%;
}

.contactContainer{
    min-height: 100vh; 
    padding-bottom: 5vh; 
    box-sizing: border-box;
    padding-top: 150px;
}

.contactContainer h1, .contactContainer p{
    text-align: center;
}

.contactInfoContainer{
    border-radius: 5%;
    background-color: rgb(30, 37, 138);
    width: fit-content;
    padding: 30px;
    margin: 50px auto;
    text-align: center;
    /* min-width: 350px; */
    
}

.contactIcon{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    margin-left: 2rem;
}


.backToTop{
    text-align: center;
    border: solid;
    width: fit-content;
    padding: 0.5rem;
    border-width: 2px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    position: fixed;
    bottom: 20px;   
    right: 20px;    
    z-index: 900;
}

.backToTop:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* Smaller screens */
@media (max-width: 1000px) {
  .aboutMeTextContainer{
    width: 90%;
    text-align: center;
    margin: auto;
}

.aboutMePictures img{
    
    width: 25%;
}
}

/* Smaller screens */
@media (max-width: 500px) {
  .picLeft, .picRight{
    display: none;
  }
  .aboutMePictures img {
    width: 80%;  /* 👈 gör mittenbilden stor på små skärmar */
    max-width: 300px; /* valfritt, så den inte blir för bred */
  }
  .navbarLinks {
    padding-left: 30px;
    padding-right: 10px;
}
.contactInfoContainer{
    margin: 0 20px;
}

}


/* Animation */

 @keyframes appear{
        from{
            opacity: 0;
            scale: 0.7;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }

    @keyframes leftToRight{
        from{
            opacity: 0;
            transform: translateX(-100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes rightToLeft{
        from{
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes handWave{
        0%{
            transform: rotate(0deg);
        }
        10%{
            transform: rotate(14deg);
        }
        20%{
            transform: rotate(-8deg);
        }
        30%{
            transform: rotate(14deg);
        }
        40%{
            transform: rotate(-4deg);
        }
        50%{
            transform: rotate(10deg);
        }
        60%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate();
        }
    }

    @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
    }

    @keyframes fadeOut {
    from { opacity: 1; transform: scale(1); }
    to   { opacity: 0; transform: scale(0.95); }
    }

.aboutMeContainer, .project2, .project5, .picCenter{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.education, .project1, .project3, .picLeft{
    animation: leftToRight linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

.rightColumn, .picRight{
    animation: rightToLeft linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

.progLanguage, .project4{
    animation: rightToLeft linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

.handWave{
    display: inline-block;
    font-size: x-large;
    animation: handWave 2.5s infinite;
    transform: 70% 70%;
}



